.row.luxe-registry-page
	.row.top-row
		.top-nav
			%ul
				%li.active
					%a{:href=>"#"} LUXE-REGISTRY
				%li
					%a{:href=>"#"} SCHEDULE A CONSULTATION
				%li
					%a{:href=>"#"} SEARCH FOR A REGISTRY
				%li
					%a{:href=>"#"} SHOP LSE
	.row.second-row
		.input-form
			= render 'form'
		%label{:style=>"margin-left: 170px; margin-top: 20px; margin-bottom: 20px;"} Copyright © 2013 Luxe Social Events. Privacy Policy

//= link_to 'Back', luxe_registries_path
