.row.luxe-registry-page
	= render 'layouts/page_top_header'
	.row.second-row
		.input-form
			= render 'form'
		%label{:style=>"margin-left: 170px; margin-top: 20px; margin-bottom: 20px;"} Copyright © 2013 Luxe Social Events. Privacy Policy

//= link_to 'Back', luxe_registries_path
