.row
	.span1.offset11{:style=>"margin-bottom: 5px;"}
		%a.lse-link{href: "http://luxesocialevents.stgng.com/"} SHOP LSE
.row
	.span3.left-side-box{:style=>"width:320px;margin-left:0px;"}
		= render 'layouts/left_side'
	.span8.main-content-box
		.row
			.sapn10
				.row.first-row
					%p.page-title THE REGISTRY AT LUXE SOCIAL EVENTS
				.row.second-row
					%p.sub-title Our Vision
					%label Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus 

					%p.sub-title How LUXE-REGISTRY Works
					%label PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

					%p.sub-title Contact Us
					%label the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only fiv

					%br/
					.span1
						%a{:href=>"#"}
							.stripe-png.t-icon
					.span1
						%a{:href=>"#"}
							.stripe-png.f-icon
					.span1
						%a{:href=>"#"}
							.stripe-png.p-icon
					.span1
						%a{:href=>"#"}
							.stripe-png.email-icon
