.row.offers-page
	.row.top-row
		.top-nav
			%label.page-title Edit Offer
			%ul{:style=>"float: right;"}
				%li.active
					%a{:href=>new_luxe_registry_path} Members-Only
				%li
					%a{:href=>"#"} Exclusive Offers
				%li
					%a{:href=>"#"} Limited Edition
	.row.second-row
		.input-form
			= render 'form'

			= link_to 'Show', @offer
			\|
			= link_to 'Back', offers_path
